<section class="col-{{ link.width }} section-{{ link.type|replace({('_'):'-'}) }} {% block classes %}{% endblock %}" {% block attributes %}{% endblock %} style="top:{{ link.y }}px;left:{{ link.x }}px;" itemprop="articleBody">
	{% block content %}{% endblock %}
</section>