{% extends 'StemsPageBundle:Section:baseForm.html.twig' %}

{# {% block classes %}
	{% spaceless %}text-align-{{ form.vars.value.alignment }}{% endspaceless %}
{% endblock %} #}

{% block tools %}

{% endblock %}

{% block form %}

{% endblock %}

{% block preview %}
	{{ form_widget(form.content) }}
	<p>{{ form.vars.value.content|raw }}</p>
{% endblock %}