{% extends stems_theme ~ '.html.twig' %}

{% import 'StemsCoreBundle:Macro:core.html.twig' as macros %}

{% block windowTitle %}{{ page.windowTitle }}{% endblock %}

{% block layout %}
   	<div class="cms-page">
		<div class="layout-banner-overlay">
			{% block banner %}
				<div class="banner-wrapper">
					<div class="banner" style="background-image:url('{{ getMediaImage(page.image).src|imagine_filter('page_banner') }}');background-size: cover;"></div>
			  		{% block title %}<h1>{{ page.title }}</h1>{% endblock %}
				</div>
			{% endblock %}
			<div class="container">
				{% block dynamic %}{% endblock %}
				{% block content %}
						{% if page.content is not empty %}<p>{{ page.content|raw }}</p>{% endif %}
			  	{% endblock %}
			</div>
		</div>
	</div>
{% endblock %}