{% extends stems_theme ~ '.html.twig' %}

{% block windowTitle %}Home{% endblock %}

{% block layout %}
	<div class="homepage-layout">
		<div class="homepage-banner">
			<div class="homepage-banner__background"></div>
			<h2 class="homepage-banner__title title-large-serif">Thread <span class="homepage-banner__title-ampersand">&amp;</span> Mirror</h2>
			<h1 class="homepage-banner__subtitle title-faded-sans">Fashion and Beauty</h1>
			{#<p class="homepage-banner__strapline title-italic-serif">created for you, curated by you</p>#}
		</div>
	   	<div>
			{% block breadcrumbs %}{% endblock %}
			{% block title %}{% endblock %}
			{% block content %}{% endblock %}
			{% block dynamic %}{% endblock %}
		</div><!--content-->
	</div>
{% endblock %}