{% extends stems_theme ~ '.html.twig' %}

{% block windowTitle %}{{ page.windowTitle }}{% endblock %}

{% block layout %}
   <div class="cms-page">
        <div class="wrap">
        	<div class="layout-sidebar">
	        	<p class="breadcrumb"><a href="/">Home</a> › {% block breadcrumbs %}{{ page.title }}{% endblock %}</p>
	        	<div class="content">
	            	{% block content %}{{ page.content|raw }}{% endblock %}
					{% block dynamic %}{% endblock %}
				</div>
			</div>
        </div>
    </div>
{% endblock %}