<div class="icon"><div class="inset"><i class="fa fa-file-text-o"></i></div></div>
<div class="options">
	<h2>Pages</h2>
	<a href="/admin/pages"><i class="fa fa-list"></i> View Pages</a>
	<a href="/admin/pages/create"><i class="fa fa-plus"></i> Create New Page</a>
</div>