<img src="{{ image.src }}" />
<div class="button-holder">
	<div>
		<div>
			{# <a class="btn btn-primary rest-get-popup" href="{{ path('stems_popup_page_set_imagesectionimage', { id : link.post.id }) }}"><i class="fa fa-picture-o"></i> Change Image</a> #}
		</div>
	</div>
</div>